{
  "installed": {
    "client_id": "your api key goes here",
    "client_secret":"your secret goes here",
    "redirect_uris": ["http://localhost:8080/", "urn:ietf:oauth:2.0:oob"],
    "auth_uri": "https://api.alfresco.com/auth/oauth/versions/2/authorize",
    "token_uri": "https://api.alfresco.com/auth/oauth/versions/2/token"
  }
}